<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="springXMLconfig.Students" id="std">
    	<property name="name" value="moin"/>
    	<property name="roll_no" value="1"/>
    	<property name="address" value="lalchowk"/>

    </bean>
    
     <bean class="springXMLconfig.Students" id="std1">
    	<property name="name" value="momin"/>
    	<property name="roll_no" value="2"/>
    	<property name="address" value="lalchowk"/>

    </bean>
    

</beans>